body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;

}

hr {

	max-width: 60%;
	border-width: 2px;
	border-color: gray;
}

header.startup {

	background: url("landing.jpg");
	background-size: cover;
	background-position: center;
	background-size: cover;
	height: 100%;
}

header.startup hr {

	margin-top: 200px;
	margin-bottom: 20px;
}

header.startup h1{

	font-size: 4em;

}